<nav>
    <ul>
        <li routerLink="wiki/slimes" routerLinkActive="active">Wiki</li>
        <li>Contact</li>
        <a href="#"><li>GitHub</li></a>
    </ul>
</nav>
<h1>Slime Rancher Wiki</h1>
<section>
    <figure>
        <img src="./../../../../assets/images/Beatrix_LeBeau.webp" alt="Beatrix_LeBeau">
        <figcaption>
            <h2>Description</h2>
            <p>
                Slime Rancher is the tale of Beatrix LeBeau, a plucky,
                young rancher who sets out for a life a thousand light years away
                from Earth on the 'Far, Far Range' where she tries her hand
                at making a living wrangling slimes.
            </p>
        </figcaption>
    </figure>
</section>
<hr>
<footer>
    <div>Developed by <a href="#">Omar Arias Dev</a></div>
    <div>Credits: <a href="https://github.com/apriltaoyvr">apriltaoyvr</a></div>
</footer>
